<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title || 'เพิ่มพนักงาน' %></title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <%- include('navbar.ejs') %>

    <div class="container mt-4">
        <h2>เพิ่มพนักงาน</h2>

        <form action="/employees/add" method="POST">
        <div class="mb-3">
         <label>Email</label>
         <input type="email" name="email" class="form-control" required>
        </div>
            <div class="mb-3">
                <label>ชื่อ</label>
                <input type="text" name="name" class="form-control" required>
            </div>

            <div class="mb-3">
                <label>Password</label>
                <input type="password" name="password" class="form-control" required>
            </div>

            <div class="mb-3">
                <label>Role</label>
                <select name="role" class="form-control">
                    <option value="staff">พนักงาน</option>
                    <option value="owner">เจ้าของร้าน</option>
                </select>
            </div>

            <button class="btn btn-success">บันทึก</button>
            <a href="/employees" class="btn btn-secondary">กลับ</a>
            <div class="mb-3">


        </form>
    </div>
</body>
</html>